DATABASE_URL=morv://parthdev0101:oobboo@mmeksp.8swohty.mongodb.net/
DATABASE_NAME=bedrock
SECRET_KEY=thisesecret
API_KEY_1=AIzaSAk8w-LnCNzgw2gM
API_KEY_2=AIzaSmg5GKkJe8CXFEAh5TxlbbyjFH7Y
API_KEY_3=AIzaSHwlLrvBtfLioOH_dUl3F6kzJFB0
API_KEY_4=AIzaSMnjunKPm1dnz3C6zMxDTDSmWjrE
API_KEY_5=iZogIspMAeQ
TAVILY_API_KEY=v-405VJc6IisOIZJscjS0O7qaFtwFSMDdp
VISION_API=sk-FmMcl0l4ZcRrG057r8yc7UA
LLM_URL=https:/tiyar.xyz